*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.hi
*.hp
*.o
*.orig
*.prof
*.prof.html
*~
.DS_Store
.cabal-sandbox/
.hpc
.hsenv
.virtualenv
\#*#
cabal-dev
cabal.config
cabal.sandbox.config
dist
.stack-work
.*.sw[a-z]
*.tix
